%pre
#!/bin/bash
echo -n "Hostname(FQDN): "
read hostname
echo -n "IP Address: "
read ipv4
echo $hostname > /tmp/hostname
echo $ipv4 > /tmp/ipv4

install
text
cdrom
lang en_US.UTF-8
keyboard us
network --onboot yes --device eth0 --bootproto dhcp --noipv6 --hostname local-host
rootpw password123
firewall --disabled
authconfig --enableshadow --passalgo=sha512
selinux --disabled
services --enabled=sshd
timezone --utc America/Vancouver
zerombr
clearpart --all
part /boot --fstype=xfs --size=512
part pv.01 --grow --size=1
volgroup vgroot01 pv.01
logvol swap --name=lv_swap --vgname=vgroot01 --size=1024
logvol / --fstype=ext4 --name=lv_root --vgname=vgroot01 --grow --size=1
bootloader --location=mbr --append="crashkernel=auto rhgb quiet"
user --name=localadmin --groups=wheel --password=password123

reboot

%packages --nobase --ignoremissing
@core
openssh-server
ipa-client
vim
wget
nfs-utils
python
git
curl
sudo
iptables
rsync
%end

%post --nochroot
cp /etc/resolv.conf /mnt/sysimage/etc/resolv.conf
cat /tmp/hostname > /mnt/sysimage/etc/hostname
%end

%post
gpasswd -a brian wheel
ipa-client-install --server=freeipa.example.com --domain=example.com --mkhomedir
%end
